#
##### OpArt Curation Tool requirements.txt
#
##### requirements without version specifiers
bs4
#geopandas
geopy
lxml
matplotlib
notebook
openpyxl
pandas
pdfplumber
pyarrow
requests
scipy
seaborn
sklearn
streamlit

##### requirements with version specifiers
#contextily==1.0.1
